body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font: 2em sans-serif;
  font-weight: bold;
  color: #446;
}

i {
  margin: 0 auto;
  font-size: 3.5em;
}

/*
 * CLASS STYLES
 */
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  opacity: 0.95;
  background-image: url(../images/img1.jpg);
  min-height: 100%;
}

.bgimg-2 {
  opacity: 0.6;
  background-image: url(../images/img2.jpg);
  min-height: 350px;
}

.bgimg-3 {
  opacity: 0.6;
  background-image: url(../images/img3.jpg);
  min-height: 350px;
}

.dark-strip {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.75);
  color: #FFFFFF;
}

.img-label {
  background-color: rgba(0,0,0,.4);
  color: #f7f7f7;
  padding: 1em;
  font-size: 1.5em;
  letter-spacing: .1em;
}

.content-panel {
  color: #777;
  background-color:white;
  text-align:center;
  height: auto;
  padding: 3em 2em 2em 2em;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.slide-down-div {
  display: none;
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  overflow: hidden;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(0,0,0,.8);
  position: relative;
  z-index: 2;
}

.slide-down-div div {
  color: #FFF;
}
.slide-down-div a {
  color: #FFF;
}

.project-box {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  border: 3px solid black;
  border-radius: 1em;
  padding: 0 .5em .5em .5em;
  margin-bottom: 10px;
  min-height: 150px;
}

.project-box p {
  position: relative;
}

.project-box a {
  color: #2DF;
  font-weight: bold;
}

.project-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
  z-index: 1;

}
.project-box:hover {
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}


.glyphicon-list-alt {
  font-size: 4em;
}

.glyphicon-list-alt:hover {
  color: blue;
}

/* centered columns styles */
.row-centered {
  margin: 0 auto;
  text-align:center;
  height: auto;
}


.justify-r {
  float: left;
  width: 25%;
  text-align: right;
  margin: 0 3% 0 5%;
}

.justify-l {
  float: left;
  text-align: left;
}

.top-margin-lg {
  margin-top: 2em;
}

.twitter-mention-button {
  margin-right: 1em;
  border-radius: 1em;
}

.proj-label {
  margin: 0 auto;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 1.2em;
  letter-spacing: 5px;
}

.proj-title {
  line-height: 1.3em;
}

.social-icon {
  max-width: 64px;
  max-height: 64px;
  border-radius: 100%;
}

.social-icon:hover {
  -webkit-box-shadow: 3px 3px 15px 0px rgba(50,50,50,0.75);
  -moz-box-shadow: 3px 3px 15px 0px rgba(50,50,50,0.75);
  box-shadow: 3px 3px 15px 0px rgba(50,50,50,0.75);
}


.bio-panel {
  display: none;
  color: #FFF;
  font-size: 1em;
  background-color:#282E34;
  border-radius: 8px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  line-height: 1.5em;
}

.bio-panel > p {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-top: 1em;
  color: #2DF;
}

.bio-panel a {
  color: #2DF;
  text-decoration: none;
}

/*
 * ID STYLES
 */
#skills-panel {
  min-height: 50%;
}

#bio-p1 {
  display: block;
}


#contact-panel {
  color:#DDD;
  background-color:#282E34;
  text-align:center;
  margin: 0;
  text-align: justify;
}

#last-img {
  opacity: .6;
}

#main-title{
  letter-spacing: 15px;
  font-weight: bold;
  font-size: 4em;
}

#credits {
  width: 100%;
  text-align: right;
  background-color: black;
  color: white;
  padding: 0;
  padding-right: 2em;
  font-style: italic;
}
#credits > div {
  float: left;
}

#github {
  font-size: 2em;
  text-decoration: none;
}
